@import 'grid/simplegrid';

@import 'base/base';
@import 'base/reset';
@import 'base/fonts';

@import 'utilities/mixins';
@import 'utilities/variables';


.header__nav-icon {
  width: 19px;
  height: 2px;
  background: #000;
}

.header__nav-list {
  .header__nav-item {
    display: inline-block;
  }
}

















































