@import 'base/base';
@import 'base/reset';
@import 'base/fonts';
@import 'base/sidebar';


@import 'utilities/mixins';
@import 'utilities/variables';



*,*:before,*:after {box-sizing: border-box; }

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



.navigation {
  padding: 0;
}
.navigation__wrapper {
  box-shadow: 0 8px 27px rgba(172, 190, 213, 0.26);
  padding: 0;
  position: relative;
}
//sidebar somewhere is here

.navigation__left-wrap {
  margin: 20px 0 16px 88px;
  float: left;
  .navigation__item {
    margin-right: 31px;
    float: left;
    width: 18px;
  }
}

.navigation__right-wrap {
  float: right;
  position: relative;

  .navigation__item--right {
    float: left;
    margin: 17px 113px 0 0;
    color: #000000;
    font-family: 'Gotham';
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative;
  }

  .navigation__item--icon1 {
    position: absolute;
    left: -25px;
    top: 5px;

  }
  .navigation__item--icon2 {
    position: absolute;
    left: -45px;
    top: 5px;
  }

  .navigation__item-link {
    position: absolute;
    top: 21px;
    right: 31px;
  }
}

.header {
  text-align: center;
  border-bottom: 2px solid #000000;

  .header__main-txt {
    color: #000000;
    font-family: 'FuturaBold';
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 54px 0 0 0;
  }

  .header__txt {
    opacity: 0.3;
    color: #000000;
    font-family: 'FuturaMedium';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-top: 10px;
  }

  .header__menu {
    padding-bottom: 26px;
    .header__nav {
      .header__item {
        float: left;
        margin-top: 58px;
        padding-left: 34px;
        font-family: 'FuturaMedium';
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2.14px;
        color: #000;

        &.padding {
          padding-left: 10px;
        }

        .header__link {
          border-right: 1px solid  #dce0e4;
          padding-right: 34px;
        }

        .border {
          border: none;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.background__main-one {
  padding: 57px 0 0 0;
  text-align: right;


  .background__main-img--one {
    height: 272px;
    background: url("../img/layer1.jpg");
    background-size: cover;
  }

}
  
.background__main-txt--one {
  float: right;
  margin-left: 55px;
  margin-top: 70px;
  color: #e5e5e5;
  font-family: 'FuturaLight';
  font-size: 145px;
  font-weight: 100;
  letter-spacing: 15px;
}

.box-wrappers {
  padding: 0;
  .box__wrap {

    .box__header-txt {
      padding-top: 59px;
      color: #e5e5e5;
      font-family: 'Lobster';
      font-size: 130px;
      font-weight: 100;
      font-style: italic;
      overflow: hidden;
    }

    .box__wrapper {
      margin-right: 30px;
      padding: 0;
      &.none-margin {
        margin: 0;
      }

      .box__wrap-img {
        height: 210px;
      }

      .box__wrap-img--txt {
        padding-top: 15px;
        color: #000000;
        font-family: 'FuturaMedium';
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
      }
      .box__wrap-img--txt2 {
        padding-top: 10px;
        color: #7f7f7f;
        font-family: 'FuturaMedium';
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 3.2px;
      }
    }
  }
}

.main__content {
  padding-top: 73px;
  padding-bottom: 200px;
  position: relative;
}

.main__content-left {
  height: 400px;
  padding: 0;

  .main__content-left-img {
    width: 300px;
    height: 300px;
    float: left;
  }

  .main__content-txt--wrap {
    width: 170px;
    float: left;
    border-top: 3px solid #000000;
    margin-left: 30px;

    .main__content-txt {
      margin-top: 22px;
      font-family: 'FuturaMedium';
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 3.2px;
      color: #7f7f7f;

    .slanted {
      font-family: 'Lobster';
      position: absolute;
      font-size: 10px;
      font-weight: 400;
      line-height: 30px;
      color: #7f7f7f;
      margin-left: 15px;
      letter-spacing: 1.8px;
      }
    }
  }

  .main__content-header--wrap {
    text-align: left;
    float: left;
    margin: 34px 0 117px 30px;

    .main__content-header {
      color: #000000;
      font-family: 'FuturaMedium';
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }
  }
}

.main__content-right {
  padding: 1px;

  .main__right-img--wrap {
    padding-top: 158px;
    height: 710px;
    background-color: #f2f4f6;
    .main__right-img {
      width: 100%;
      height: 552px;
    }
  }

  .main__right-subscribe {
    padding: 44px 0 0 0;
    margin-top: 53px;
    border: 3px solid #000;
    background-color: #fff;
    text-align: center;
    color: #000000;
    font-family: "FuturaMedium";
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

    .main__right-search {
      float: left;
      margin: 34px 0 56px 37px;
      width: 177px;
      height: 45px;
      border: 2px solid #e5e5e5;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.4px;
      padding-left: 19px;
      color: #efefef;
    }

    .main__subscribe-btn {
      margin: 34px 0 56px 0;
      float: left;
      width: 102px;
      height: 45px;
      background-color: #000000;
      color: #fff;
      border: none;
      text-align: center;
      padding: 9px;
      cursor: pointer;
      list-style: none;
    }

    .main__subscribe-btn--txt {
      color: #fff;
      font-family: 'FuturaMedium';
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }

    .main__right-subscribe--social {
      padding: 30px 0 51px 78px;

      .main__social-item {
        margin-right: 38px;
        float: left;
        width: 18px;
      }
    }
  }

}










































