* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: 'Agne';
  font-weight: 400;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html, body,
div, span,
applet, object,
iframe, h1,
h2, h3,
h4, h5,
h6, p,
blockquote, pre,
a, abbr,
acronym, address,
big, cite,
code, del,
dfn, em,
img, ins,
kbd, q, s,
samp, small,
strike, strong,
sub, sup,
tt, var,
b, u, i,
center, dl,
dt, dd,
ol, ul, li,
fieldset, form,
label, legend,
table, caption,
tbody, tfoot,
thead, tr,
th, td, article,
aside, canvas,
details, embed,
figure, figcaption,
footer, header,
hgroup, menu,
nav, output,
ruby, section,
summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FuturaBold';
  src: url("../fonts/futura-bold/FuturaBold.woff2"), url("../fonts/futura-bold/FuturaBold.woff"); }

@font-face {
  font-family: 'FuturaMedium';
  src: url("../fonts/futura-medium/FuturaMedium.woff2"), url("../fonts/futura-medium/FuturaMedium.woff"); }

@font-face {
  font-family: 'FuturaLight';
  src: url("../fonts/futura-light/FuturaLight.woff2"), url("../fonts/futura-light/FuturaLight.woff"); }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/gotham.woff2"), url("../fonts/gotham/gotham.woff"); }

@font-face {
  font-family: 'GothamUltra';
  src: url("../fonts/gotham-ultra/GothamUltra.woff2"), url("../fonts/gotham-ultra/GothamUltra.woff"); }

@font-face {
  font-family: 'Lobster';
  src: url("../fonts/lobster/lobster.woff2"), url("../fonts/lobster/lobster.woff"); }

*, *:before, *:after {
  box-sizing: border-box; }

.navigation {
  padding: 0; }

.navigation__wrapper {
  box-shadow: 0 8px 27px rgba(172, 190, 213, 0.26);
  padding: 0; }

.navigation__icon--wrap {
  position: relative;
  width: 55px;
  height: 58px;
  float: left;
  border-right: 1px solid  #ededed; }
  .navigation__icon--wrap .navigation__icon {
    width: 19px;
    height: 2px;
    background: #000;
    position: relative;
    top: 19px;
    left: 19px;
    margin: 0; }
    .navigation__icon--wrap .navigation__icon:before {
      content: '';
      width: 19px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 7px; }
    .navigation__icon--wrap .navigation__icon:after {
      content: '';
      width: 19px;
      height: 2px;
      background: #000;
      position: absolute;
      top: 14px;
      right: 0; }

.navigation__left-wrap {
  margin: 20px 0 16px 28px;
  float: left; }
  .navigation__left-wrap .navigation__item {
    margin-right: 31px;
    float: left;
    width: 18px; }

.navigation__right-wrap {
  float: right;
  position: relative; }
  .navigation__right-wrap .navigation__item--right {
    float: left;
    margin: 17px 113px 0 0;
    color: #000000;
    font-family: 'GothamUltra';
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative; }
  .navigation__right-wrap .navigation__item--icon1 {
    position: absolute;
    left: -25px;
    top: 5px; }
  .navigation__right-wrap .navigation__item--icon2 {
    position: absolute;
    left: -45px;
    top: 5px; }
  .navigation__right-wrap .navigation__item-link {
    position: absolute;
    top: 21px;
    right: 31px; }

.header {
  text-align: center;
  border-bottom: 2px solid #000000; }
  .header .header__main-txt {
    color: #000000;
    font-family: 'FuturaBold';
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 54px 0 0 0; }
  .header .header__txt {
    opacity: 0.3;
    color: #000000;
    font-family: 'FuturaMedium';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-top: 10px; }
  .header .header__menu {
    padding-bottom: 26px; }
    .header .header__menu .header__nav .header__item {
      float: left;
      margin-top: 58px;
      padding-left: 34px;
      font-family: 'FuturaMedium';
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 2.14px;
      color: #000; }
      .header .header__menu .header__nav .header__item.padding {
        padding-left: 10px; }
      .header .header__menu .header__nav .header__item .header__link {
        border-right: 1px solid  #dce0e4;
        padding-right: 34px; }
      .header .header__menu .header__nav .header__item .border {
        border: none;
        padding: 0;
        margin: 0; }

.background__main-one {
  padding: 57px 0 0 0;
  position: relative; }
  .background__main-one .background__main-img--one {
    height: 272px;
    background: url("../img/layer1.jpg");
    background-size: cover;
    position: relative; }

.background__main-txt--one {
  position: absolute;
  top: 60px;
  right: -75px;
  color: #b6977b;
  font-family: 'FuturaLight';
  font-size: 145px;
  font-weight: 100;
  letter-spacing: 15px; }

.box-wrappers {
  padding: 0; }
  .box-wrappers .box__wrap {
    padding-top: 144px;
    position: relative; }
    .box-wrappers .box__wrap .box__header-txt {
      position: absolute;
      top: 40px;
      left: 15px;
      opacity: 0.1;
      color: #000;
      font-family: 'Lobster';
      font-size: 130px;
      font-weight: 700;
      font-style: italic; }
    .box-wrappers .box__wrap .box__wrapper {
      margin-right: 30px;
      padding: 0; }
      .box-wrappers .box__wrap .box__wrapper .box__wrap-img--one {
        height: 210px;
        padding-bottom: 300px; }
    .box-wrappers .box__wrap .none-margin {
      margin: 0; }

/*# sourceMappingURL=main.css.map */
