* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: 'Agne';
  font-weight: 400;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html, body,
div, span,
applet, object,
iframe, h1,
h2, h3,
h4, h5,
h6, p,
blockquote, pre,
a, abbr,
acronym, address,
big, cite,
code, del,
dfn, em,
img, ins,
kbd, q, s,
samp, small,
strike, strong,
sub, sup,
tt, var,
b, u, i,
center, dl,
dt, dd,
ol, ul, li,
fieldset, form,
label, legend,
table, caption,
tbody, tfoot,
thead, tr,
th, td, article,
aside, canvas,
details, embed,
figure, figcaption,
footer, header,
hgroup, menu,
nav, output,
ruby, section,
summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'FuturaBold';
  src: url("../fonts/futura-bold/FuturaBold.woff2"), url("../fonts/futura-bold/FuturaBold.woff"); }

@font-face {
  font-family: 'FuturaMedium';
  src: url("../fonts/futura-medium/FuturaMedium.woff2"), url("../fonts/futura-medium/FuturaMedium.woff"); }

@font-face {
  font-family: 'FuturaLight';
  src: url("../fonts/futura-light/FuturaLight.woff2"), url("../fonts/futura-light/FuturaLight.woff"); }

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/gotham/gotham.woff2"), url("../fonts/gotham/gotham.woff"); }

@font-face {
  font-family: 'GothamUltra';
  src: url("../fonts/gotham-ultra/GothamUltra.woff2"), url("../fonts/gotham-ultra/GothamUltra.woff"); }

@font-face {
  font-family: 'Lobster';
  src: url("../fonts/lobster/lobster.woff2"), url("../fonts/lobster/lobster.woff"); }

.sidebar {
  position: absolute;
  top: 0;
  left: -369px;
  width: 369px;
  color: #000000;
  box-shadow: 0 8px 27px rgba(172, 190, 213, 0.32);
  background-color: #ffffff;
  transition: 0.5s; }

.active {
  left: 0; }

.sidebar__btn {
  position: absolute;
  width: 55px;
  height: 58px;
  background: #fff;
  border-right: 1px solid  #ededed;
  border-left: none;
  border-top: none;
  border-bottom: none;
  vertical-align: middle;
  cursor: pointer;
  top: -2px;
  left: 372px; }
  .sidebar__btn .sidebar__icon {
    height: 2px;
    width: 19px;
    background: #000;
    display: block;
    position: absolute;
    top: 23px;
    left: 15px; }
    .sidebar__btn .sidebar__icon:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background: #000;
      width: 19px;
      height: 2px; }
    .sidebar__btn .sidebar__icon:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      background: #000;
      width: 19px;
      height: 2px; }

.sidebar__header {
  padding-top: 52px;
  color: #000000;
  font-family: 'Lobster';
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.8px; }

.sidebar__txt {
  padding-top: 19px;
  padding-bottom: 69px;
  opacity: 0.5;
  color: #000000;
  font-family: 'FuturaLight';
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.65px; }

.sidebar__content {
  padding: 0 48px 48px 45px;
  border-bottom: 2px solid #e5e5e5; }
  .sidebar__content .sidebar__navigation .sidebar__navigation-item {
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #e5e5e5;
    font-family: 'FuturaBold';
    text-transform: uppercase; }
    .sidebar__content .sidebar__navigation .sidebar__navigation-item.b-bottom {
      border: none; }
  .sidebar__content .sidebar__navigation .sidebar__navigation-drop {
    display: none; }
    .sidebar__content .sidebar__navigation .sidebar__navigation-drop:hover {
      display: block; }

.sidebar__social-wrap {
  padding: 0 48px 48px 45px;
  border-bottom: 2px solid #e5e5e5; }
  .sidebar__social-wrap .sidebar__social-nav {
    padding: 51px 0 62px 0;
    float: left; }
    .sidebar__social-wrap .sidebar__social-nav .sidebar__social-item {
      margin-right: 37px;
      float: left;
      width: 18px; }
  .sidebar__social-wrap .sidebar__subscribe {
    float: left;
    width: 100%;
    text-align: left; }
    .sidebar__social-wrap .sidebar__subscribe .sidebar__mail-icon {
      float: left;
      margin-top: 3px; }
    .sidebar__social-wrap .sidebar__subscribe .sidebar__subscribe-wrap {
      padding-left: 40px; }
      .sidebar__social-wrap .sidebar__subscribe .sidebar__subscribe-wrap .sidebar__subscribe-header {
        float: left;
        color: #000000;
        font-family: 'FuturaBold';
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        margin-right: 10px; }
      .sidebar__social-wrap .sidebar__subscribe .sidebar__subscribe-wrap .sidebar__subscribe-txt {
        width: 200px;
        font-family: "FuturaMedium";
        font-size: 18px;
        font-weight: 200;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1.8px; }
    .sidebar__social-wrap .sidebar__subscribe .sidebar__search {
      float: left;
      margin-top: 31px;
      width: 179px;
      height: 45px;
      border: 2px solid #e5e5e5;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.4px;
      padding-left: 19px;
      color: #efefef; }
    .sidebar__social-wrap .sidebar__subscribe .sidebar__subscribe-btn {
      float: left;
      margin-top: 31px;
      width: 97px;
      height: 45px;
      background-color: #000000;
      border: none;
      text-align: center;
      padding: 13px;
      cursor: pointer; }
      .sidebar__social-wrap .sidebar__subscribe .sidebar__subscribe-btn .sidebar__subscribe-btn--txt {
        color: #fff;
        font-family: 'FuturaMedium';
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 2.4px; }

.sidebar__end-content {
  padding: 0 48px 6px 45px; }
  .sidebar__end-content .sidebar__end-navigation {
    padding-top: 42px; }
    .sidebar__end-content .sidebar__end-navigation .sidebar__end-navigation--item {
      display: block;
      text-align: left;
      padding-bottom: 42px;
      color: #000000;
      font-family: 'FuturaMedium';
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.navigation {
  padding: 0; }

.navigation__wrapper {
  box-shadow: 0 8px 27px rgba(172, 190, 213, 0.26);
  padding: 0;
  position: relative; }

.navigation__left-wrap {
  margin: 20px 0 16px 88px;
  float: left; }
  .navigation__left-wrap .navigation__item {
    margin-right: 31px;
    float: left;
    width: 18px; }

.navigation__right-wrap {
  float: right;
  position: relative; }
  .navigation__right-wrap .navigation__item--right {
    float: left;
    margin: 17px 113px 0 0;
    color: #000000;
    font-family: 'GothamUltra';
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    position: relative; }
  .navigation__right-wrap .navigation__item--icon1 {
    position: absolute;
    left: -25px;
    top: 5px; }
  .navigation__right-wrap .navigation__item--icon2 {
    position: absolute;
    left: -45px;
    top: 5px; }
  .navigation__right-wrap .navigation__item-link {
    position: absolute;
    top: 21px;
    right: 31px; }

.header {
  text-align: center;
  border-bottom: 2px solid #000000; }
  .header .header__main-txt {
    color: #000000;
    font-family: 'FuturaBold';
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 54px 0 0 0; }
  .header .header__txt {
    opacity: 0.3;
    color: #000000;
    font-family: 'FuturaMedium';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-top: 10px; }
  .header .header__menu {
    padding-bottom: 26px; }
    .header .header__menu .header__nav .header__item {
      float: left;
      margin-top: 58px;
      padding-left: 34px;
      font-family: 'FuturaMedium';
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2.14px;
      color: #000; }
      .header .header__menu .header__nav .header__item.padding {
        padding-left: 10px; }
      .header .header__menu .header__nav .header__item .header__link {
        border-right: 1px solid  #dce0e4;
        padding-right: 34px; }
      .header .header__menu .header__nav .header__item .border {
        border: none;
        padding: 0;
        margin: 0; }

.background__main-one {
  padding: 57px 0 0 0;
  text-align: right; }
  .background__main-one .background__main-img--one {
    height: 272px;
    background: url("../img/layer1.jpg");
    background-size: cover; }

.background__main-txt--one {
  float: right;
  margin-left: 55px;
  margin-top: 70px;
  color: #e5e5e5;
  font-family: 'FuturaLight';
  font-size: 145px;
  font-weight: 100;
  letter-spacing: 15px; }

.box-wrappers {
  padding: 0; }
  .box-wrappers .box__wrap .box__header-txt {
    padding-top: 59px;
    color: #e5e5e5;
    font-family: 'Lobster';
    font-size: 130px;
    font-weight: 100;
    font-style: italic;
    overflow: hidden; }
  .box-wrappers .box__wrap .box__wrapper {
    margin-right: 30px;
    padding: 0; }
    .box-wrappers .box__wrap .box__wrapper.none-margin {
      margin: 0; }
    .box-wrappers .box__wrap .box__wrapper .box__wrap-img {
      height: 210px; }
    .box-wrappers .box__wrap .box__wrapper .box__wrap-img--txt {
      padding-top: 15px;
      color: #000000;
      font-family: 'FuturaMedium';
      font-size: 17px;
      font-weight: 600;
      line-height: 24px; }
    .box-wrappers .box__wrap .box__wrapper .box__wrap-img--txt2 {
      padding-top: 10px;
      color: #7f7f7f;
      font-family: 'FuturaMedium';
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      text-transform: uppercase;
      letter-spacing: 3.2px; }

.main__content {
  padding-top: 73px;
  padding-bottom: 200px; }

.main__content-left {
  height: 400px;
  padding: 0; }

.main__content-right {
  padding: 1px; }

.main__right-img--wrap {
  padding-top: 158px;
  height: 710px;
  background-color: #f2f4f6; }
  .main__right-img--wrap .main__right-img {
    width: 100%;
    height: 552px; }

.main__right-subscribe {
  padding: 44px 0 0 0;
  margin-top: 53px;
  border: 3px solid #000;
  background-color: #fff;
  text-align: center;
  color: #000000;
  font-family: "FuturaMedium";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.8px; }
  .main__right-subscribe .main__right-search {
    float: left;
    margin: 34px 0 56px 37px;
    width: 177px;
    height: 45px;
    border: 2px solid #e5e5e5;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.4px;
    padding-left: 19px;
    color: #efefef; }
  .main__right-subscribe .main__subscribe-btn {
    margin: 34px 0 56px 0;
    float: left;
    width: 102px;
    height: 45px;
    background-color: #000000;
    color: #fff;
    border: none;
    text-align: center;
    padding: 9px;
    cursor: pointer;
    list-style: none; }
  .main__right-subscribe .main__subscribe-btn--txt {
    color: #fff;
    font-family: 'FuturaMedium';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2.4px; }
  .main__right-subscribe .main__right-subscribe--social {
    padding: 30px 0 51px 78px; }
    .main__right-subscribe .main__right-subscribe--social .main__social-item {
      margin-right: 38px;
      float: left;
      width: 18px; }

/*# sourceMappingURL=main.css.map */
